<a href="https://colab.research.google.com/github/ItamarBerger/TabularDS-part1/blob/main/TDS_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ItamarBerger/TabularDS-part1

Cloning into 'TabularDS-part1'...
remote: Enumerating objects: 87, done.
remote: Counting objects: 100% (87/87), done.
remote: Compressing objects: 100% (77/77), done.
remote: Total 87 (delta 14), reused 20 (delta 3), pack-reused 0 (from 0)
Receiving objects: 100% (87/87), 5.97 MiB | 14.42 MiB/s, done.
Resolving deltas: 100% (14/14), done.

## Load part-1 baseline model

In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
import joblib

# Load the saved model
model = joblib.load('/content/TabularDS-part1/models/part1_model.pkl')

# Load the same dataset to ensure consistency
dtf = pd.read_csv('/content/TabularDS-part1/data/avocado.csv')

# Error anaylasis and work plan
## intro:
As we recall, our baseline from part-1 already had pretty solid performance (r2 , MSE, residuals, and propotional residuals).
Our goal in this notebook is to present creative approches for improving the baseline model

## Error Analysis Conclusions
1. We observed a sub-optimal RMSE score (around 0.11) in the baseline model.
2. Specifically noticed a model's tendency to underestimate
3. No difference in Avocado type in model's prediction error
4. High importance for the Date feature, which we didn't take into account last part. in this part we'll adress this issue.
5. Many features had skewed distribution or outliers on part-1

## Work-plan
0. Identify weaknesses in the initial model (some of them are listed here below)
1. Feature engeeniring
   - tramnsorming the **Date feature** into something more meaningful to help the model learn the relation we saw on part-1 between the date and the average avocado price

   - Adding **hidden feature** to complete totalVolume as sum of 3 different avocado volumes by sizes and a hidden amount of avocados not from those 3 categories.
2. Handling **outliers** more affectively than in part-1
3. Handling ** skewed features** using IQR

# Basic pre-processing and cleaning

In [5]:
print(dtf.isnull().sum())
dtf.drop('Unnamed: 0')

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
dtf['type'] = dtf['type'].map({'organic': 1, 'conventional': 0})
le = LabelEncoder()

# Apply label encoding to the 'region' column
dtf['region'] = le.fit_transform(dtf['region'])

## Let's transform the Date feature into its core logical components (year, month, week)

In [ ]:
dtf.columns = dtf.columns.str.replace(' ', '')
dtf['Date'] = pd.to_datetime(dtf['Date'])
dtf['month'] = dtf['Date'].dt.month
dtf['year'] = dtf['Date'].dt.year
dtf['week'] = dtf['Date'].dt.isocalendar().week
dtf = dtf.drop('Date', axis=1)